In [1]:
import pandas as pd
credilink= pd.read_csv(r"C:\Users\USER\Downloads\archive (2)\archive (1)\Fintech_user.csv")
credilink

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26995,24291,1,24.0,R,580.0,0,0,0,0,0,...,0,0,0,0,Leo,0,0,32.0,1.07,1
26996,4116,1,26.0,na,NaN,0,0,2,0,0,...,0,0,0,1,Cancer,1,0,2.0,0.67,0
26997,23740,0,22.0,na,NaN,0,0,37,0,0,...,0,0,0,0,Taurus,0,0,28.0,0.93,0
26998,47663,1,46.0,na,529.0,2,0,16,2,0,...,0,0,0,0,Aries,1,0,27.0,0.90,1
26999,52752,1,34.0,na,525.0,0,0,4,0,0,...,0,0,0,0,Cancer,0,0,4.0,0.13,0

In [76]:
(credilink.dtypes)

user                         int64
churn                        int64
age                        float64
housing                     object
credit_score               float64
deposits                     int64
withdrawal                   int64
purchases_partners           int64
purchases                    int64
cc_taken                     int64
cc_recommended               int64
cc_disliked                  int64
cc_liked                     int64
cc_application_begin         int64
app_downloaded               int64
web_user                     int64
app_web_user                 int64
ios_user                     int64
android_user                 int64
registered_phones            int64
payment_type                object
waiting_4_loan               int64
cancelled_loan               int64
received_loan                int64
rejected_loan                int64
zodiac_sign                 object
left_for_two_month_plus      int64
left_for_one_month           int64
rewards_earned             float64
reward_rate                float64
is_referred                  int64
dtype: object

In [77]:
credilink.head(30)

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0
5,3120,1,32.0,R,567.0,5,3,111,5,0,...,0,0,0,0,Taurus,0,0,55.0,1.83,0
6,41406,0,21.0,na,475.0,0,0,4,0,0,...,0,0,0,0,Cancer,0,0,2.0,0.07,0
7,67679,0,24.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Leo,0,0,1.0,0.11,0
8,21269,0,28.0,R,548.0,0,0,0,0,2,...,0,0,0,0,Sagittarius,0,0,26.0,0.87,1
9,25788,0,23.0,na,658.0,1,0,87,1,0,...,0,0,0,0,Aquarius,0,0,32.0,1.07,0
10,13840,0,32.0,R,NaN,0,0,30,0,0,...,0,0,0,0,Virgo,0,0,19.0,0.83,1
11,25899,0,41.0,O,625.0,14,0,116,13,0,...,0,0,0,0,Virgo,0,0,65.0,2.17,0
12,20839,0,20.0,na,550.0,0,0,135,0,0,...,0,0,0,0,Libra,0,0,66.0,2.20,1
13,13019,0,27.0,O,567.0,2,1,48,2,0,...,0,0,0,0,Gemini,0,0,30.0,1.00,0
14,24387,0,47.0,na,NaN,11,1,20,11,0,...,0,0,0,0,Virgo,0,0,11.0,0.69,1
15,65427,1,44.0,na,NaN,0,0,0,0,1,...,0,0,0,0,Libra,0,0,2.0,0.07,0
16,30419,1,24.0,na,479.0,6,2,24,6,0,...,0,0,0,0,Capricorn,0,0,27.0,0.90,0
17,30693,0,31.0,R,565.0,17,2,62,17,0,...,0,0,0,0,Libra,0,0,43.0,1.43,0
18,69531,0,20.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Sagittarius,1,0,NaN,0.00,0
19,34733,1,30.0,na,NaN,2,1,0,2,0,...,0,0,0,0,Libra,1,0,2.0,0.07,0
20,66712,1,59.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Gemini,0,0,NaN,0.00,0
21,15359,1,21.0,na,637.0,0,0,0,0,0,...,0,0,0,0,Sagittarius,0,0,NaN,0.00,0
22,25997,0,37.0,R,627.0,0,0,39,0,0,...,0,1,0,0,Scorpio,0,0,40.0,1.33,0
23,13813,1,30.0,R,505.0,6,0,11,6,0,...,0,0,0,0,Gemini,0,0,12.0,0.40,0
24,67807,0,36.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aquarius,0,0,1.0,0.50,0
25,19184,1,44.0,O,551.0,0,0,0,0,3,...,0,0,0,0,Scorpio,0,1,5.0,0.17,0
26,34210,1,52.0,na,518.0,0,0,0,0,0,...,0,0,0,0,Pisces,1,0,39.0,1.30,0
27,57598,1,25.0,na,529.0,0,0,0,0,0,...,0,0,0,0,Virgo,0,0,14.0,0.47,0
28,57608,1,22.0,na,508.0,0,0,0,0,1,...,0,0,0,0,Pisces,0,0,27.0,0.90,0
29,8381,0,38.0,na,NaN,0,0,27,0,0,...,0,0,0,0,Libra,0,0,8.0,1.00,0

In [4]:
missing_count = credilink.isnull().sum()
total_rows = len(credilink)
missing_percentage = (missing_count / total_rows) * 100
missing_percentage

user                        0.000000
churn                       0.000000
age                         0.014815
housing                     0.000000
credit_score               29.744444
deposits                    0.000000
withdrawal                  0.000000
purchases_partners          0.000000
purchases                   0.000000
cc_taken                    0.000000
cc_recommended              0.000000
cc_disliked                 0.000000
cc_liked                    0.000000
cc_application_begin        0.000000
app_downloaded              0.000000
web_user                    0.000000
app_web_user                0.000000
ios_user                    0.000000
android_user                0.000000
registered_phones           0.000000
payment_type                0.000000
waiting_4_loan              0.000000
cancelled_loan              0.000000
received_loan               0.000000
rejected_loan               0.000000
zodiac_sign                 0.000000
left_for_two_month_plus     0.000000
left_for_one_month          0.000000
rewards_earned             11.951852
reward_rate                 0.000000
is_referred                 0.000000
dtype: float64

In [5]:
credilink['reward_rate']

0        0.00
1        1.47
2        2.17
3        1.10
4        0.03
         ...
26995    1.07
26996    0.67
26997    0.93
26998    0.90
26999    0.13
Name: reward_rate, Length: 27000, dtype: float64

In [6]:
import pandas as pd

# Assuming your DataFrame is named 'credilink'
df = credilink

# 1. Calculate the count of missing values for each column
missing_count = df.isnull().sum()

# 2. Calculate the percentage of missing values for each column
total_rows = len(df)
missing_percentage = (missing_count / total_rows) * 100

# 3. Combine the results into a single DataFrame
missing_info = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing Percentage': missing_percentage.round(2)
})

# 4. Filter for columns with at least one missing value
# and sort them by the missing count in descending order
missing_info = missing_info[missing_info['Missing Count'] > 0].sort_values(
    by='Missing Count', ascending=False
)

# Print the resulting table
print(missing_info)

# Also, always re-check the data types and non-null counts
print("\nDataFrame Info:")
print(df.info())

                Missing Count  Missing Percentage
credit_score             8031               29.74
rewards_earned           3227               11.95
age                         4                0.01

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     27000 non-null  int64
 1   churn                    27000 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  27000 non-null  object
 4   credit_score             18969 non-null  float64
 5   deposits                 27000 non-null  int64
 6   withdrawal               27000 non-null  int64
 7   purchases_partners       27000 non-null  int64
 8   purchases                27000 non-null  int64
 9   cc_taken                 27000 non-null  int64
 10  cc_recommended           27000 non-null  int64
 11  cc_disliked              27000 non-null  int64
 12  cc_liked                 27000 non-null  int64
 13  cc_application_begin     27000 non-null  int64
 14  app_downloaded           27000 non-null  int64
 15  web_user                 27000 non-null  int64
 16  app_web_user             27000 non-null  int64
 17  ios_user                 27000 non-null  int64
 18  android_user             27000 non-null  int64
 19  registered_phones        27000 non-null  int64
 20  payment_type             27000 non-null  object
 21  waiting_4_loan           27000 non-null  int64
 22  cancelled_loan           27000 non-null  int64
 23  received_loan            27000 non-null  int64
 24  rejected_loan            27000 non-null  int64
 25  zodiac_sign              27000 non-null  object
 26  left_for_two_month_plus  27000 non-null  int64
 27  left_for_one_month       27000 non-null  int64
 28  rewards_earned           23773 non-null  float64
 29  reward_rate              27000 non-null  float64
 30  is_referred              27000 non-null  int64
dtypes: float64(4), int64(24), object(3)
memory usage: 6.4+ MB
None

In [7]:
credilink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     27000 non-null  int64
 1   churn                    27000 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  27000 non-null  object
 4   credit_score             18969 non-null  float64
 5   deposits                 27000 non-null  int64
 6   withdrawal               27000 non-null  int64
 7   purchases_partners       27000 non-null  int64
 8   purchases                27000 non-null  int64
 9   cc_taken                 27000 non-null  int64
 10  cc_recommended           27000 non-null  int64
 11  cc_disliked              27000 non-null  int64
 12  cc_liked                 27000 non-null  int64
 13  cc_application_begin     27000 non-null  int64
 14  app_downloaded           27000 non-null  int64
 15  web_user                 27000 non-null  int64
 16  app_web_user             27000 non-null  int64
 17  ios_user                 27000 non-null  int64
 18  android_user             27000 non-null  int64
 19  registered_phones        27000 non-null  int64
 20  payment_type             27000 non-null  object
 21  waiting_4_loan           27000 non-null  int64
 22  cancelled_loan           27000 non-null  int64
 23  received_loan            27000 non-null  int64
 24  rejected_loan            27000 non-null  int64
 25  zodiac_sign              27000 non-null  object
 26  left_for_two_month_plus  27000 non-null  int64
 27  left_for_one_month       27000 non-null  int64
 28  rewards_earned           23773 non-null  float64
 29  reward_rate              27000 non-null  float64
 30  is_referred              27000 non-null  int64
dtypes: float64(4), int64(24), object(3)
memory usage: 6.4+ MB

In [8]:
credilink.duplicated().sum()

np.int64(458)

In [9]:
credilink.drop_duplicates(inplace=True)
credilink

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26995,24291,1,24.0,R,580.0,0,0,0,0,0,...,0,0,0,0,Leo,0,0,32.0,1.07,1
26996,4116,1,26.0,na,NaN,0,0,2,0,0,...,0,0,0,1,Cancer,1,0,2.0,0.67,0
26997,23740,0,22.0,na,NaN,0,0,37,0,0,...,0,0,0,0,Taurus,0,0,28.0,0.93,0
26998,47663,1,46.0,na,529.0,2,0,16,2,0,...,0,0,0,0,Aries,1,0,27.0,0.90,1
26999,52752,1,34.0,na,525.0,0,0,4,0,0,...,0,0,0,0,Cancer,0,0,4.0,0.13,0

In [10]:
print(credilink['user'].nunique())

24741

In [11]:
print(credilink['deposits'].nunique())

66

In [12]:
credilink.isnull().sum()

user                          0
churn                         0
age                           4
housing                       0
credit_score               7789
deposits                      0
withdrawal                    0
purchases_partners            0
purchases                     0
cc_taken                      0
cc_recommended                0
cc_disliked                   0
cc_liked                      0
cc_application_begin          0
app_downloaded                0
web_user                      0
app_web_user                  0
ios_user                      0
android_user                  0
registered_phones             0
payment_type                  0
waiting_4_loan                0
cancelled_loan                0
received_loan                 0
rejected_loan                 0
zodiac_sign                   0
left_for_two_month_plus       0
left_for_one_month            0
rewards_earned             3163
reward_rate                   0
is_referred                   0
dtype: int64

In [13]:
credilink['housing'].unique()

array(['na', 'R', 'O'], dtype=object)

In [14]:
credilink['payment_type'].unique()

array(['Bi-Weekly', 'Weekly', 'Semi-Monthly', 'na', 'Monthly'],
      dtype=object)

In [15]:
credilink['zodiac_sign'].unique()

array(['Leo', 'Capricorn', 'Aries', 'Taurus', 'Cancer', 'Sagittarius',
       'Aquarius', 'Virgo', 'Libra', 'Gemini', 'Scorpio', 'Pisces', 'na'],
      dtype=object)

In [16]:
# Install SQLAlchemy (the abstraction layer)
!pip install SQLAlchemy

# Install the MySQL driver (mysqlclient is a common choice)
!pip install mysqlclient

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in c:\users\user\appdata\roaming\python\python313\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\programdata\anaconda3\envs\sql_pacakages\lib\site-packages (from SQLAlchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\envs\sql_pacakages\lib\site-packages (from SQLAlchemy) (4.15.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysqlclient in c:\users\user\appdata\roaming\python\python313\site-packages (2.2.7)

In [17]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [18]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\roaming\python\python313\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
# The connection string is assigned to a variable named 'DATABASE_URL'
DATABASE_URL = "mysql+mysqlconnector://root:Adex%402003@localhost:3306/credilink_db"

from sqlalchemy import create_engine

# 1. Define the URL string
DATABASE_URL = "mysql+mysqlconnector://root:Adex%402003@localhost:3306/credilink_db"

# 2. Create the engine
# Note: replace 'DATABASE_URL' with your actual, completed string if not using a variable.
engine = create_engine(DATABASE_URL)

# 3. Test the connection
try:
    with engine.connect() as connection:
        print("Successfully connected to the database!")
except Exception as e:
    print(f"Connection failed: {e}")

Successfully connected to the database!

In [20]:
import pandas as pd
from sqlalchemy import create_engine, text

# Use the exact, correctly encoded URL that worked for you before
DATABASE_URL = "mysql+mysqlconnector://root:Adex%402003@localhost:3306/credilink_db"
engine = create_engine(DATABASE_URL)

# Assuming your final DataFrame is named 'credilink' and has been cleaned
# You should have run this line previously: credilink.drop_duplicates(inplace=True)

In [21]:
TABLE_NAME = 'final_cleaned_credilink_data' # <-- CHOOSE A NAME FOR YOUR NEW TABLE

print(f"Attempting to write {len(credilink)} records to table '{TABLE_NAME}'...")

try:
    # This is the line that performs the transfer
    credilink.to_sql(
        name=TABLE_NAME, 
        con=engine, 
        if_exists='replace', # Will drop the table if it exists and create a new one
        index=False          # Ensures the Pandas index column is NOT written to MySQL
    )
    print(f"\n✅ SUCCESS: The cleaned data has been written to the MySQL table: **{TABLE_NAME}**")

except Exception as e:
    print(f"\n❌ ERROR during data export: {e}")

Attempting to write 26542 records to table 'final_cleaned_credilink_data'...

✅ SUCCESS: The cleaned data has been written to the MySQL table: **final_cleaned_credilink_data**

In [22]:
try:
    with engine.connect() as connection:
        # Check the total count of rows imported
        count_query = text(f"SELECT COUNT(*) FROM {TABLE_NAME}")
        total_count = connection.execute(count_query).scalar()
        
        # Select the first 5 rows for visual inspection
        verify_query = text(f"SELECT * FROM {TABLE_NAME} LIMIT 5")
        verify_df = pd.read_sql(verify_query, con=connection)

        print(f"\nVerification from MySQL:")
        print(f"Total rows successfully imported: {total_count}")
        print("\nSample retrieved from the database:")
        print(verify_df)
        
except Exception as e:
    print(f"\n❌ ERROR during verification: {e}")

Verification from MySQL:
Total rows successfully imported: 26542

Sample retrieved from the database:
    user  churn   age housing  credit_score  deposits  withdrawal  \
0  55409      0  37.0      na           NaN         0           0
1  23547      0  28.0       R         486.0         0           0
2  58313      0  35.0       R         561.0        47           2
3   8095      0  26.0       R         567.0        26           3
4  61353      1  27.0      na           NaN         0           0

   purchases_partners  purchases  cc_taken  ...  waiting_4_loan  \
0                   0          0         0  ...               0
1                   1          0         0  ...               0
2                  86         47         0  ...               0
3                  38         25         0  ...               0
4                   2          0         0  ...               0

   cancelled_loan  received_loan  rejected_loan  zodiac_sign  \
0               0              0              0          Leo
1               0              0              0          Leo
2               0              0              0    Capricorn
3               0              0              0    Capricorn
4               0              0              0        Aries

   left_for_two_month_plus  left_for_one_month  rewards_earned  reward_rate  \
0                        1                   0             NaN         0.00
1                        0                   0            44.0         1.47
2                        1                   0            65.0         2.17
3                        0                   0            33.0         1.10
4                        1                   0             1.0         0.03

   is_referred
0            0
1            1
2            0
3            1
4            0

[5 rows x 31 columns]

## ANALYZING USER DEMOGRAPHICS 
User Demographics & Key Metrics(The "Who" and "Where") 
These questions establish the characteristics of your unique user base and how core metrics like age and credit score relate.

Q1: The distribution of users by their age  

Q2: What age and age_group had the highest observed credit score?

Q3: What is the breakdown of users by Housing Status (housing) and Zodiac Sign (zodiac_sign)

Q4: Based on the housing status, what age group had the highest credit score?

Q5: What is the overall distribution of age and credit scores (Mean, Median, Range)?

Q6: What is the demographic breakdown of users by Housing Status and Zodiac Sign?

Q7: How does the user base split between those who were referred and those who were not (is_referred)?

Q8:How does the user base split across different payment methods?

Q9:How does the user base split by the number of registered phones?

In [23]:
users= pd.read_csv(r"C:\Users\USER\Downloads\archive (2)\archive (1)\users.csv")
users

,user_id,age,housing,credit_score,zodiac_sign,registered_phones,payment_type,is_referred
0,1,21.0,R,577.0,Pisces,2,Semi-Monthly,0
1,10,33.0,R,558.0,Leo,0,Bi-Weekly,1
2,100,25.0,O,NaN,Virgo,0,Bi-Weekly,1
3,10003,23.0,na,451.0,na,2,Bi-Weekly,0
4,10004,22.0,O,NaN,Cancer,0,Bi-Weekly,0
...,...,...,...,...,...,...,...,...
24736,9990,31.0,na,494.0,Pisces,2,Weekly,0
24737,9991,33.0,R,514.0,na,2,na,0
24738,9992,18.0,na,NaN,Sagittarius,0,Bi-Weekly,0
24739,9995,26.0,na,523.0,Scorpio,0,Weekly,0
24740,9998,31.0,na,454.0,Leo,0,Bi-Weekly,0

In [24]:
users['housing'].describe()

count     24741
unique        3
top          na
freq      12768
Name: housing, dtype: object

In [25]:
users['age'].nunique()

72

In [26]:
users['age'].describe()

count    24737.000000
mean        32.192384
std          9.947927
min         17.000000
25%         25.000000
50%         30.000000
75%         37.000000
max         91.000000
Name: age, dtype: float64

## Creating a column that groups by the age

In [27]:
import pandas as pd
import numpy as np

# Assuming your DataFrame is named users_df

# 1. Define the bin edges (the cut-off points)
# The bins go from the lowest observed age (or 0) up to 100.
bins = [15, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# 2. Define the labels for the resulting age groups
labels = [
    '15-20', 
    '21-30', 
    '31-40', 
    '41-50', 
    '51-60', 
    '61-70', 
    '71-80', 
    '81-90', 
    '91-100'
]

# 3. Use pd.cut() to create the new column
# 'right=True' means the bins include the rightmost edge (e.g., up to 30)
users['age_group'] = pd.cut(
    users['age'], 
    bins=bins, 
    labels=labels, 
    right=True,
    include_lowest=True # Includes the lowest edge (15)
)

# 4. Verification: Check the breakdown of the new column
print("### Verification of New Age Group Column ###")
print(users['age_group'].value_counts().sort_index())
print("\nSample Data:")
print(users[['age', 'age_group']].head(10))

### Verification of New Age Group Column ###
age_group
15-20      1380
21-30     11694
31-40      7187
41-50      3003
51-60      1102
61-70       304
71-80        54
81-90        11
91-100        2
Name: count, dtype: int64

Sample Data:
    age age_group
0  21.0     21-30
1  33.0     31-40
2  25.0     21-30
3  23.0     21-30
4  22.0     21-30
5  27.0     21-30
6  30.0     21-30
7  56.0     51-60
8  37.0     31-40
9  25.0     21-30

In [28]:
users

,user_id,age,housing,credit_score,zodiac_sign,registered_phones,payment_type,is_referred,age_group
0,1,21.0,R,577.0,Pisces,2,Semi-Monthly,0,21-30
1,10,33.0,R,558.0,Leo,0,Bi-Weekly,1,31-40
2,100,25.0,O,NaN,Virgo,0,Bi-Weekly,1,21-30
3,10003,23.0,na,451.0,na,2,Bi-Weekly,0,21-30
4,10004,22.0,O,NaN,Cancer,0,Bi-Weekly,0,21-30
...,...,...,...,...,...,...,...,...,...
24736,9990,31.0,na,494.0,Pisces,2,Weekly,0,31-40
24737,9991,33.0,R,514.0,na,2,na,0,31-40
24738,9992,18.0,na,NaN,Sagittarius,0,Bi-Weekly,0,15-20
24739,9995,26.0,na,523.0,Scorpio,0,Weekly,0,21-30
24740,9998,31.0,na,454.0,Leo,0,Bi-Weekly,0,31-40

## Question 1
The distribution of users by their age

In [29]:
users.groupby('age_group')['user_id'].count().sort_values(ascending = False)

age_group
21-30     11694
31-40      7187
41-50      3003
15-20      1380
51-60      1102
61-70       304
71-80        54
81-90        11
91-100        2
Name: user_id, dtype: int64

replacing Nan with 0 in the age and credit score column

In [30]:
import pandas as pd
import numpy as np

# 1. Handle Nulls in 'age': Fill any remaining NaN values with 0.
# This ensures there are no non-finite values that could cause the IntCastingNaNError.
users['age'] = users['age'].fillna(0) 

# 2. Convert to the standard integer type (int64).
# This should now work successfully because all NaN values have been replaced by 0.
users['age'] = users['age'].astype('int64')

# 3. Verification
print("\n--- Verification of Age Column ---")
print("Data type after conversion:")
print(users['age'].dtype)

print("\nMissing values in 'age' after fillna:")
print(users['age'].isnull().sum())

--- Verification of Age Column ---
Data type after conversion:
int64

Missing values in 'age' after fillna:
0

In [31]:
import pandas as pd
import numpy as np

# 1. Handle Nulls in 'age': Fill any remaining NaN values with 0.
# This ensures there are no non-finite values that could cause the IntCastingNaNError.
users['credit_score'] = users['credit_score'].fillna(0) 

# 2. Convert to the standard integer type (int64).
# This should now work successfully because all NaN values have been replaced by 0.
users['credit_score'] = users['credit_score'].astype('int64')

# 3. Verification
print("\n--- Verification of credit_score Column ---")
print("Data type after conversion:")
print(users['credit_score'].dtype)

print("\nMissing values in 'credit_score' after fillna:")
print(users['credit_score'].isnull().sum())

--- Verification of credit_score Column ---
Data type after conversion:
int64

Missing values in 'credit_score' after fillna:
0

## Question 2

What age and age_group had the highest observed credit score?

In [32]:
users.groupby('age')['credit_score'].mean().sort_values(ascending = False)

age
82    564.000000
84    544.500000
80    529.000000
89    498.000000
68    460.947368
         ...
81      0.000000
83      0.000000
85      0.000000
88      0.000000
91      0.000000
Name: credit_score, Length: 73, dtype: float64

In [33]:
users.groupby('age_group')['credit_score'].mean().sort_values(ascending = False)

age_group
31-40     395.654376
41-50     384.101898
21-30     383.044638
51-60     370.048094
61-70     328.980263
15-20     306.189855
71-80     303.703704
81-90     195.545455
91-100      0.000000
Name: credit_score, dtype: float64

## Question 3
What is the breakdown of users by Housing Status (housing) and Zodiac Sign (zodiac_sign)

In [34]:
users.groupby('housing')['user_id'].count().sort_values(ascending = False)

housing
na    12768
R     10015
O      1958
Name: user_id, dtype: int64

In [35]:
users.groupby('zodiac_sign')['user_id'].count().sort_values(ascending = False)

zodiac_sign
Virgo          2217
Cancer         2212
Leo            2190
Taurus         2043
Gemini         1975
na             1969
Pisces         1964
Libra          1948
Aquarius       1939
Scorpio        1939
Sagittarius    1888
Aries          1836
Capricorn       621
Name: user_id, dtype: int64

## Question 4
Based on the housing status, what age group had the highest credit score?

In [36]:
users['age_group'].describe()

count     24737
unique        9
top       21-30
freq      11694
Name: age_group, dtype: object

In [37]:
 users.groupby(['housing'])['credit_score'].mean().sort_values(ascending = False).round(2)

housing
O     469.58
R     455.39
na    308.98
Name: credit_score, dtype: float64

In [38]:
mean_scores_multiindex = users.groupby(['housing', 'age_group'])['credit_score'].mean().round(2)

# 2. Convert the MultiIndex Series back to a DataFrame for easier searching
mean_scores_df = mean_scores_multiindex.reset_index(name='mean_credit_score').sort_values(by= 'mean_credit_score',ascending = False)
mean_scores_df

   housing age_group  mean_credit_score
6        O     71-80             514.67
4        O     51-60             487.27
2        O     31-40             474.84
1        O     21-30             468.54
3        O     41-50             468.43
14       R     61-70             465.50
13       R     51-60             462.43
11       R     31-40             458.80
10       R     21-30             457.35
12       R     41-50             451.66
5        O     61-70             424.80
0        O     15-20             421.71
9        R     15-20             415.69
15       R     71-80             379.91
20      na     31-40             322.48
21      na     41-50             316.85
19      na     21-30             313.40
22      na     51-60             285.67
23      na     61-70             271.99
16       R     81-90             249.00
18      na     15-20             242.35
24      na     71-80             223.21
25      na     81-90             206.62
7        O     81-90               0.00
17       R    91-100               0.00
26      na    91-100               0.00
8        O    91-100                NaN

In [39]:
# 1. Calculate the mean credit score for every combination of housing and age_group
# The result is a Pandas Series with a MultiIndex
mean_scores_multiindex = users.groupby(['housing', 'age_group'])['credit_score'].mean().round(2)

# 2. Convert the MultiIndex Series back to a DataFrame for easier searching
mean_scores_df = mean_scores_multiindex.reset_index(name='mean_credit_score')

# 3. Find the index (row number) of the highest mean score within each housing status.
# We group by 'housing' and find the row with the max 'mean_credit_score' in each group.
idx = mean_scores_df.groupby(['housing'])['mean_credit_score'].idxmax()

# 4. Use these indices to retrieve the final rows containing the highest scores
highest_score_groups = mean_scores_df.loc[idx]

print(highest_score_groups.sort_values(by='mean_credit_score', ascending=False).to_string(index=False))

housing age_group  mean_credit_score
      O     71-80             514.67
      R     61-70             465.50
     na     31-40             322.48

## Question 5
What is the overall distribution of age and credit scores (Mean, Median, Range)?

In [40]:
Age_distribution= users['age'].describe().round(2)
print(f"Age_distribution: {Age_distribution}")

credit_score_distribution= users['credit_score'].describe().round(2)
print(f"\ncredit_score_distribution: {credit_score_distribution}")

Age_distribution: count    24741.00
mean        32.19
std          9.96
min          0.00
25%         25.00
50%         30.00
75%         37.00
max         91.00
Name: age, dtype: float64

credit_score_distribution: count    24741.00
mean       380.96
std        253.37
min          0.00
25%          0.00
50%        513.00
75%        561.00
max        838.00
Name: credit_score, dtype: float64

## Question 6
What is the demographic breakdown of users by Housing Status and Zodiac Sign?

In [41]:
users.groupby('housing')['zodiac_sign'].count()

housing
O      1958
R     10015
na    12768
Name: zodiac_sign, dtype: int64

In [42]:
# Group by both columns and count the unique user IDs
full_demographic_breakdown = users.groupby(['housing', 'zodiac_sign'])['user_id'].count()

pd.crosstab(users['housing'], users['zodiac_sign'])

zodiac_sign,Aquarius,Aries,Cancer,Capricorn,Gemini,Leo,Libra,Pisces,Sagittarius,Scorpio,Taurus,Virgo,na
housing,,,,,,,,,,,,,
O,163,149,176,52,151,172,148,149,163,155,169,181,130
R,794,744,894,272,786,902,773,804,739,802,808,890,807
na,982,943,1142,297,1038,1116,1027,1011,986,982,1066,1146,1032

## Question 7
How does the user base split between those who were referred and those who were not (is_referred)?

In [43]:
users.groupby('is_referred')['user_id'].count()

is_referred
0    16938
1     7803
Name: user_id, dtype: int64

In [44]:
# Calculate the raw counts
referral_counts = users.groupby('is_referred')['user_id'].count()

# Calculate the percentage breakdown
referral_percentage = users['is_referred'].value_counts(normalize=True).mul(100).round(2)

# Combine for a clean presentation
referral_summary = pd.DataFrame({
    'User Count': referral_counts,
    'Percentage': referral_percentage
})

referral_summary.index = ['Not Referred (0)', 'Referred (1)'] 
print(referral_summary.to_string())

                  User Count  Percentage
Not Referred (0)       16938       68.46
Referred (1)            7803       31.54

## Question 8
How does the user base split across different payment methods?

In [45]:
users.groupby('registered_phones')['user_id'].count()

registered_phones
0    20098
2     3728
3      694
4      173
5       48
Name: user_id, dtype: int64

## Question 9
How does the user base split by the number of registered phones?

In [46]:
users.groupby('payment_type')['user_id'].count()

payment_type
Bi-Weekly       11648
Monthly          2421
Semi-Monthly     2220
Weekly           4898
na               3554
Name: user_id, dtype: int64

## FEATURE USAGE FREQUENCY & PATTERNS 
These questions quantify user engagement across various financial and app features.

Q10: What is the adoption rate for Credit Cards (CC) (cc_taken > 0), and how does user feedback break down (cc_liked vs. cc_disliked)?

Q11: How is user activity split between mobile apps (ios_user, android_user) and the web (app_web_user)?

In [47]:
import pandas as pd
engagement = pd.read_csv(r"C:\Users\USER\Downloads\archive (2)\archive (1)\Engagements.csv")
engagement

,engagement_id,user_id,churn,cc_taken,cc_recommended,cc_disliked,cc_liked,cc_application_begin,app_downloaded,web_user,app_web_user,ios_user,android_user,left_for_two_month_plus,left_for_one_month
0,1,55409,0,0,0,0,0,0,1,1,1,1,0,1,0
1,2,23547,0,0,96,0,0,5,1,1,1,1,0,0,0
2,3,58313,0,0,285,0,0,9,1,0,0,0,1,1,0
3,4,8095,0,0,74,0,0,26,1,0,0,0,1,0,0
4,5,61353,1,0,0,0,0,0,1,1,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26537,26538,24291,1,0,81,0,0,2,1,1,1,0,1,0,0
26538,26539,4116,1,0,1,0,0,0,1,1,1,0,1,1,0
26539,26540,23740,0,0,98,0,0,0,1,1,1,0,1,0,0
26540,26541,47663,1,0,58,0,0,2,1,1,1,1,0,1,0
26541,26542,52752,1,0,11,0,0,0,1,0,0,1,1,0,0

## Question 10
What is the adoption rate for Credit Cards (CC) (cc_taken > 0), and how does user feedback break down (cc_liked vs. cc_disliked)?

In [48]:
total_engagement = len(engagement)
cc_engaged = engagement[engagement['cc_taken'] > 0]
num_cc_engaged = len(cc_engaged)

adoption_rate = (num_cc_engaged / total_engagement) * 100

print("1. Credit Card Adoption Rate")
print(f"Total Unique Users: {total_engagement}")
print(f"Users Who Adopted a CC: {num_cc_engaged}")
print(f"CC Adoption Rate: {adoption_rate:.2f}%")


feedback_counts = engagement[['cc_liked', 'cc_disliked']].sum()

num_liked = feedback_counts['cc_liked']
num_disliked = feedback_counts['cc_disliked']
total_feedback = num_liked + num_disliked

print("\n 2. User Feedback Breakdown")
print(f"Users who Liked the CC: {num_liked}")
print(f"Users who Disliked the CC: {num_disliked}")

nps_proxy = (num_liked / total_feedback) * 100 if total_feedback > 0 else 0

print(f"Total Feedback Events: {total_feedback}")
print(f"Positive Feedback Rate (NPS Proxy): {nps_proxy:.2f}%")

1. Credit Card Adoption Rate
Total Unique Users: 26542
Users Who Adopted a CC: 1281
CC Adoption Rate: 4.83%

 2. User Feedback Breakdown
Users who Liked the CC: 341
Users who Disliked the CC: 1351
Total Feedback Events: 1692
Positive Feedback Rate (NPS Proxy): 20.15%

## Question 11
How is user activity split between mobile apps (ios_user, android_user) and the web (app_web_user)?

In [49]:
engagement['mobile_activity'] = engagement['ios_user'] + engagement['android_user']

engagement['is_mobile_only'] = np.where(
    (engagement['mobile_activity'] > 0) & (engagement['app_web_user'] == 0), 1, 0
)
engagement['is_web_only'] = np.where(
    (engagement['app_web_user'] > 0) & (engagement['mobile_activity'] == 0), 1, 0
)
engagement['is_cross_platform'] = np.where(
    (engagement['mobile_activity'] > 0) & (engagement['app_web_user'] > 0), 1, 0
)

segment_counts = pd.Series({
    'A. Mobile Only': engagement['is_mobile_only'].sum(),
    'B. Web Only': engagement['is_web_only'].sum(),
    'C. Cross-Platform': engagement['is_cross_platform'].sum()
})

print("1. MUTUALLY EXCLUSIVE PLATFORM SPLIT")
print(segment_counts.sort_values(ascending=False).round(2))

os_counts = engagement[['ios_user', 'android_user']].sum()

print("\n 2. MOBILE OS BREAKDOWN (iOS vs. Android)")
print(os_counts.sort_values(ascending=False).to_string())

1. MUTUALLY EXCLUSIVE PLATFORM SPLIT
C. Cross-Platform    14922
A. Mobile Only       10355
B. Web Only             11
dtype: int64

 2. MOBILE OS BREAKDOWN (iOS vs. Android)
android_user    15586
ios_user        10471

## LOAN STATUS PATTERNS 
These questions analyze the success and failure rates of the core loan product.

Q12: What are the raw counts of users for each of the four key loan statuses?

Q13: What is the overall Loan Success Rate (received vs. rejected)?

In [50]:
import pandas as pd
loans= pd.read_csv(r"C:\Users\USER\Downloads\archive (2)\archive (1)\loans.csv")
loans

,loan_id,user_id,waiting_4_loan,cancelled_loan,received_loan,rejected_loan
0,1,55409,0,0,0,0
1,2,23547,0,0,0,0
2,3,58313,0,0,0,0
3,4,8095,0,0,0,0
4,5,61353,0,0,0,0
...,...,...,...,...,...,...
26537,26538,24291,0,0,0,0
26538,26539,4116,0,0,0,1
26539,26540,23740,0,0,0,0
26540,26541,47663,0,0,0,0
26541,26542,52752,0,0,0,0

In [51]:
loans.describe()

,loan_id,user_id,waiting_4_loan,cancelled_loan,received_loan,rejected_loan
count,26542.000000,26542.000000,26542.000000,26542.000000,26542.000000,26542.000000
mean,13271.500000,35365.680356,0.001281,0.018951,0.018311,0.004936
std,7662.159759,20311.547052,0.035769,0.136355,0.134075,0.070081
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,6636.250000,17757.500000,0.000000,0.000000,0.000000,0.000000
50%,13271.500000,35652.500000,0.000000,0.000000,0.000000,0.000000
75%,19906.750000,53169.750000,0.000000,0.000000,0.000000,0.000000
max,26542.000000,69658.000000,1.000000,1.000000,1.000000,1.000000

## Question 12
What are the raw counts of users for each of the four key loan statuses?

In [52]:
loan_status = ['waiting_4_loan', 'cancelled_loan', 'received_loan', 'rejected_loan']
total_users = len(loans)

loan_counts = loans[loan_status].sum().astype(int)
loan_summary = pd.DataFrame({
    'Raw Count': loan_counts
}).sort_values(by='Raw Count', ascending=False)

print(loan_summary.to_string())

                Raw Count
cancelled_loan        503
received_loan         486
rejected_loan         131
waiting_4_loan         34

## Question 13
What is the overall Loan Success Rate (received vs. rejected)?

In [53]:
import pandas as pd

num_received = loan_counts['received_loan']
num_rejected = loan_counts['rejected_loan']
total_applications = num_received + num_rejected

if total_applications == 0:
    success_rate = 0
    print("No loan applications (received or rejected) found in the dataset.")
else:
    success_rate = (num_received / total_applications) * 100
    
    print(" Loan Success Rate (LSR) Analysis ")
    print(f"Total Completed Applications: {total_applications}")
    print(f"Total Received Loans: {num_received}")
    print(f"Total Rejected Loans: {num_rejected}")
    print(f"Loan Success Rate: {success_rate:.2f}%")

 Loan Success Rate (LSR) Analysis
Total Completed Applications: 617
Total Received Loans: 486
Total Rejected Loans: 131
Loan Success Rate: 78.77%

## CHURN SEGMENTS & RATE CORRELATION 
These questions define your proxy churn rate and identify the most predictive factors for retention, 
directly addressing the project's goal to analyze churn segments and correlate features with retention.

Q14: What are the raw counts for people who left for one month (left_for_one_month) vs. those who left for two months plus (left_for_two_month_plus)?

Q15: Total Churn Proxy Rate and one-month vs two-month segment breakdown

Q16: What is the average credit score for churned users compared to active users?

Q17: How many users are retained vs. churned, and how do we define a retention label from the churn flags?

Q18: How is retention related to basic app usage features (app_downloaded, web_user, ios_user, android_user, app_web_user)?

Q19: What is the correlation between app usage features and the retention label?

In [54]:
transactions= pd.read_csv(r"C:\Users\USER\Downloads\archive (2)\archive (1)\Transactions.csv")
transactions

,transaction_id,user_id,deposits,withdrawal,purchases_partners,purchases,rewards_earned,reward_rate
0,1,55409,0,0,0,0,NaN,0.00
1,2,23547,0,0,1,0,44.0,1.47
2,3,58313,47,2,86,47,65.0,2.17
3,4,8095,26,3,38,25,33.0,1.10
4,5,61353,0,0,2,0,1.0,0.03
...,...,...,...,...,...,...,...,...
26537,26538,24291,0,0,0,0,32.0,1.07
26538,26539,4116,0,0,2,0,2.0,0.67
26539,26540,23740,0,0,37,0,28.0,0.93
26540,26541,47663,2,0,16,2,27.0,0.90
26541,26542,52752,0,0,4,0,4.0,0.13

## Question 14
What are the raw counts for people who left for one month (left_for_one_month) vs. those who left for two months plus (left_for_two_month_plus)?

In [55]:
churn_segment_counts = engagement[['left_for_one_month', 'left_for_two_month_plus']].sum().astype(int)

total_users_left = churn_segment_counts.sum()

print(churn_segment_counts.to_string())
print(f"\nTotal Users Flagged as Left (Churn Segment): {total_users_left}")

left_for_one_month          485
left_for_two_month_plus    4589

Total Users Flagged as Left (Churn Segment): 5074

## Question 15
Total Churn Proxy Rate and one-month vs two-month segment breakdown

In [56]:
eng_flags = engagement[["user_id", "left_for_one_month", "left_for_two_month_plus"]].copy()

# User considered churned if either flag is 1
eng_flags["churn_proxy"] = (
    (eng_flags["left_for_one_month"] == 1) |
    (eng_flags["left_for_two_month_plus"] == 1)
).astype(int)

# Aggregate to user level in case there are multiple engagement rows per user
user_churn = eng_flags.groupby("user_id", as_index=False)["churn_proxy"].max()

# Get all distinct users from users table
all_users = users[["user_id"]].drop_duplicates()

# Left join churn info so every user has a churn flag
user_churn_full = all_users.merge(user_churn, on="user_id", how="left")
user_churn_full["churn_proxy"] = user_churn_full["churn_proxy"].fillna(0).astype(int)

# Total churn proxy rate
total_users = len(user_churn_full)
churned_users = int(user_churn_full["churn_proxy"].sum())
churn_proxy_rate = churned_users / total_users if total_users > 0 else float("")

print("Total users:", total_users)
print("Churned users (proxy):", churned_users)
print("Total Churn Proxy Rate:", churn_proxy_rate)

# Segment breakdown: one-month-only vs any two-month-plus vs no flag

user_flags_agg = eng_flags.groupby("user_id", as_index=False)[
    ["left_for_one_month", "left_for_two_month_plus"]
].max()

one_month_only = ((user_flags_agg["left_for_one_month"] == 1) &
                  (user_flags_agg["left_for_two_month_plus"] == 0)).sum()

two_month_plus_any = (user_flags_agg["left_for_two_month_plus"] == 1).sum()

no_flag = ((user_flags_agg["left_for_one_month"] == 0) &
           (user_flags_agg["left_for_two_month_plus"] == 0)).sum()

print("Segment counts")
print("One-month only:", int(one_month_only))
print("Two-month-plus:", int(two_month_plus_any))
print("No churn flag:", int(no_flag))

Total users: 24741
Churned users (proxy): 4638
Total Churn Proxy Rate: 0.18746210743300595
Segment counts
One-month only: 358
Two-month-plus: 4280
No churn flag: 20103

## Question 16
What is the average credit score for churned users compared to active users?

In [57]:
user_churn_credit = user_churn_full.merge(
    users[["user_id", "credit_score"]],
    on="user_id",
    how="left"
)

churned_avg_credit = user_churn_credit.loc[
    user_churn_credit["churn_proxy"] == 1, "credit_score"
].mean()

active_avg_credit = user_churn_credit.loc[
    user_churn_credit["churn_proxy"] == 0, "credit_score"
].mean()

print("Average credit score - churned users:", churned_avg_credit)
print("Average credit score - active users:", active_avg_credit)

Average credit score - churned users: 391.90707201379905
Average credit score - active users: 378.4301348057504

## Question 17
How many users are retained vs. churned, and how do we define a retention label from the churn flags?

In [58]:
import pandas as pd

# Assume engagement, transactions, users are already loaded dataframes.
# If not, you would load them here with pd.read_csv or similar.

# 1. Build a user-level churn / retention label
eng_flags = engagement[["user_id", "left_for_one_month", "left_for_two_month_plus"]].copy()

# Ensure numeric 0/1 flags
for col in ["left_for_one_month", "left_for_two_month_plus"]:
    eng_flags[col] = pd.to_numeric(eng_flags[col], errors="coerce").fillna(0)

# Aggregate at user level (in case multiple engagement rows per user)
eng_flags_user = eng_flags.groupby("user_id", as_index=False)[
    ["left_for_one_month", "left_for_two_month_plus"]
].max()

# Define a churn proxy: churn if 1-month OR 2+ months flag is 1
eng_flags_user["churned"] = (
    (eng_flags_user["left_for_one_month"] == 1) |
    (eng_flags_user["left_for_two_month_plus"] == 1)
).astype(int)

# Define retention: retained = 1 - churned
eng_flags_user["retained"] = 1 - eng_flags_user["churned"]

# Basic counts
retention_counts = eng_flags_user["retained"].value_counts(dropna=False)

print("Retention label counts (1 = retained, 0 = churned)")
print(retention_counts)

Retention label counts (1 = retained, 0 = churned)
retained
1    20103
0     4638
Name: count, dtype: int64

## Question 18
How is retention related to basic app usage features (app_downloaded, web_user, ios_user, android_user, app_web_user)?

In [59]:
# 2. Merge user-level retention with engagement app flags
app_flags_cols = ["user_id", "app_downloaded", "web_user", "app_web_user", "ios_user", "android_user"]

missing_cols = [c for c in app_flags_cols if c not in engagement.columns]
if missing_cols:
    print("Missing app feature columns in engagement:", missing_cols)

eng_app_flags = engagement[[c for c in app_flags_cols if c in engagement.columns]].copy()

# Aggregate app flags to user level (max works for 0/1 flags)
eng_app_flags_user = eng_app_flags.groupby("user_id", as_index=False).max()

# Merge with retention labels
user_retention_app = eng_flags_user.merge(eng_app_flags_user, on="user_id", how="left")

# For each app feature, compute retention rate among users with that feature = 1
app_feature_cols = [c for c in app_flags_cols if c != "user_id" and c in user_retention_app.columns]

retention_by_feature = {}

for col in app_feature_cols:
    has_feature = user_retention_app[user_retention_app[col] == 1]
    if len(has_feature) > 0:
        retention_rate = has_feature["retained"].mean()
        retention_by_feature[col] = retention_rate

print("Retention rate among users with given app feature = 1")
print(retention_by_feature)

Retention rate among users with given app feature = 1
{'app_downloaded': np.float64(0.8136809477304573), 'web_user': np.float64(0.7957375957375957), 'app_web_user': np.float64(0.7966772151898734), 'ios_user': np.float64(0.8310824636791487), 'android_user': np.float64(0.8017384105960265)}

## Question 19
What is the correlation between app usage features and the retention label?

In [60]:
corr_app = {}

for col in app_feature_cols:
    # Pearson correlation between retained (0/1) and feature (0/1)
    corr_val = user_retention_app[["retained", col]].corr().loc["retained", col]
    corr_app[col] = corr_val

print("Correlation between app features and retention (1 = retained):")
print(corr_app)

Correlation between app features and retention (1 = retained):
{'app_downloaded': np.float64(0.013029262267800608), 'web_user': np.float64(-0.0534852378435921), 'app_web_user': np.float64(-0.04603185906543434), 'ios_user': np.float64(0.03839786014788486), 'android_user': np.float64(-0.032914894951509545)}

## Data modelling with random forest

In [61]:
# This cell builds a churn label per user and constructs a feature table
# by merging engagement, transactions, loans, and user attributes.

import pandas as pd

# ----- 1) Churn label from engagement -----
# Assumes engagement has: user_id, left_for_one_month, left_for_two_month_plus (0/1 flags)

churn_flag_cols = []
for c in ["left_for_one_month", "left_for_two_month_plus"]:
    if c in engagement.columns:
        churn_flag_cols.append(c)

if len(churn_flag_cols) == 0:
    raise ValueError("No churn flag columns found in engagement. Expected at least one of: left_for_one_month, left_for_two_month_plus.")

eng_flags = engagement[["user_id"] + churn_flag_cols].copy()

for col in churn_flag_cols:
    eng_flags[col] = pd.to_numeric(eng_flags[col], errors="coerce").fillna(0)

eng_user = eng_flags.groupby("user_id", as_index=False)[churn_flag_cols].max()

eng_user["churn"] = 0
for col in churn_flag_cols:
    eng_user["churn"] = ((eng_user["churn"] == 1) | (eng_user[col] == 1)).astype(int)

# ----- 2) Engagement / app usage features -----
app_cols = []
for c in ["app_downloaded", "web_user", "app_web_user", "ios_user", "android_user"]:
    if c in engagement.columns:
        app_cols.append(c)

if len(app_cols) > 0:
    eng_app = engagement[["user_id"] + app_cols].drop_duplicates("user_id")
else:
    eng_app = eng_user[["user_id"]].copy()

# ----- 3) Transaction aggregates per user -----
txn_agg = {}
for col in ["deposits", "withdrawal", "purchases_partners", "purchases", "rewards_earned", "reward_rate"]:
    if col in transactions.columns:
        txn_agg[col] = "sum"

if len(txn_agg) > 0:
    txn_user = transactions.groupby("user_id", as_index=False).agg(txn_agg)
else:
    txn_user = eng_user[["user_id"]].copy()

# ----- 4) Loan aggregates per user (if loan table exists) -----
try:
    loan_exists = "loan" in globals()
except Exception:
    loan_exists = False

if loan_exists:
    loan_df = loan
    loan_agg = {}
    for col in ["loan_amount", "outstanding_balance", "interest_rate"]:
        if col in loan_df.columns:
            loan_agg[col] = "sum"
    if len(loan_agg) > 0:
        loan_user = loan_df.groupby("user_id", as_index=False).agg(loan_agg)
    else:
        loan_user = eng_user[["user_id"]].copy()
else:
    loan_user = eng_user[["user_id"]].copy()

# ----- 5) User numeric features (demographics etc.) -----
user_num = users[["user_id"]].copy()
for col in ["age", "credit_score"]:
    if col in users.columns:
        user_num[col] = pd.to_numeric(users[col], errors="coerce")

# ----- 6) Merge everything into a single modeling table -----
model_df = eng_user.merge(eng_app, on="user_id", how="left") \
                   .merge(txn_user, on="user_id", how="left") \
                   .merge(loan_user, on="user_id", how="left") \
                   .merge(user_num, on="user_id", how="left")

print("Model dataframe head:")
print(model_df.head())

Model dataframe head:
   user_id  left_for_one_month  left_for_two_month_plus  churn  \
0        1                   0                        0      0
1        4                   0                        0      0
2        8                   0                        0      0
3        9                   0                        0      0
4       10                   0                        1      1

   app_downloaded  web_user  app_web_user  ios_user  android_user  deposits  \
0               1         1             1         0             1        48
1               1         1             1         0             1        15
2               1         0             0         0             1         0
3               1         1             1         0             1         0
4               1         0             0         0             1         0

   withdrawal  purchases_partners  purchases  rewards_earned  reward_rate  \
0           4                  52         45            56.0         1.87
1           0                  73         15            49.0         1.63
2           0                   0          0            18.0         0.60
3           0                  30          0            23.0         0.77
4           0                  76          0            45.0         1.50

   age  credit_score
0   21           577
1   35           566
2   31           519
3   26             0
4   33           558

In [62]:
# This cell trains a Logistic Regression model (for churn probability)
# and a Random Forest model (also for churn probability), and evaluates both.

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, classification_report
import numpy as np

# ----- 1) Define features X and target y -----
exclude_cols = ["user_id", "churn"] + churn_flag_cols
feature_cols = [c for c in model_df.columns if c not in exclude_cols]

X = model_df[feature_cols].fillna(0)
y = model_df["churn"].astype(int)

# ----- 2) Train/test split -----
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

# ----- 3) Logistic Regression (with scaling) -----
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

log_reg = LogisticRegression(
    max_iter=1000,
    solver="lbfgs",
    n_jobs=-1
)

log_reg.fit(X_train_scaled, y_train)

y_proba_lr = log_reg.predict_proba(X_test_scaled)[:, 1]
y_pred_lr = (y_proba_lr >= 0.5).astype(int)

auc_lr = roc_auc_score(y_test, y_proba_lr)
report_lr = classification_report(y_test, y_pred_lr)

print("=== Logistic Regression Performance ===")
print("AUC:")
print(auc_lr)
print("Classification report:")
print(report_lr)

# ----- 4) Random Forest for prediction and comparison -----
rf = RandomForestClassifier(
    n_estimators=300,
    max_depth=None,
    min_samples_split=10,
    min_samples_leaf=5,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train, y_train)

y_proba_rf = rf.predict_proba(X_test)[:, 1]
y_pred_rf = rf.predict(X_test)

auc_rf = roc_auc_score(y_test, y_proba_rf)
report_rf = classification_report(y_test, y_pred_rf)

print("=== Random Forest Performance ===")
print("AUC:")
print(auc_rf)
print("Classification report:")
print(report_rf)

=== Logistic Regression Performance ===
AUC:
0.5924119658583906
Classification report:
              precision    recall  f1-score   support

           0       0.81      1.00      0.90      6031
           1       0.25      0.00      0.00      1392

    accuracy                           0.81      7423
   macro avg       0.53      0.50      0.45      7423
weighted avg       0.71      0.81      0.73      7423

=== Random Forest Performance ===
AUC:
0.5871260579915646
Classification report:
              precision    recall  f1-score   support

           0       0.81      1.00      0.90      6031
           1       0.50      0.00      0.00      1392

    accuracy                           0.81      7423
   macro avg       0.66      0.50      0.45      7423
weighted avg       0.75      0.81      0.73      7423

In [63]:
# This cell shows the top 15 most important features in the Random Forest model.

importances = pd.Series(rf.feature_importances_, index=feature_cols).sort_values(ascending=False)

print("Top 15 Random Forest feature importances:")
print(importances.head(15))

Top 15 Random Forest feature importances:
credit_score          0.193362
age                   0.171047
purchases_partners    0.170576
reward_rate           0.148502
rewards_earned        0.138796
deposits              0.052799
purchases             0.051556
withdrawal            0.022502
ios_user              0.014305
android_user          0.014020
web_user              0.012123
app_web_user          0.008816
app_downloaded        0.001597
dtype: float64

In [64]:
# This cell shows logistic regression coefficients for interpretation.
# Note: coefficients correspond to standardized features.

coef_series = pd.Series(log_reg.coef_[0], index=feature_cols).sort_values(ascending=False)

print("Top 15 positive logistic regression coefficients (increase churn odds):")
print(coef_series.head(15))

print("Top 15 negative logistic regression coefficients (decrease churn odds):")
print(coef_series.tail(15))

Top 15 positive logistic regression coefficients (increase churn odds):
rewards_earned        0.586557
purchases_partners    0.137210
web_user              0.120746
android_user          0.073865
purchases             0.035280
credit_score          0.014575
withdrawal            0.006180
app_web_user          0.002851
deposits              0.001105
ios_user             -0.019731
age                  -0.041858
app_downloaded       -0.064026
reward_rate          -0.586770
dtype: float64
Top 15 negative logistic regression coefficients (decrease churn odds):
rewards_earned        0.586557
purchases_partners    0.137210
web_user              0.120746
android_user          0.073865
purchases             0.035280
credit_score          0.014575
withdrawal            0.006180
app_web_user          0.002851
deposits              0.001105
ios_user             -0.019731
age                  -0.041858
app_downloaded       -0.064026
reward_rate          -0.586770
dtype: float64

In [65]:
# This cell creates a scored table with churn probabilities from both models.

X_all = model_df[feature_cols].fillna(0)
X_all_scaled = scaler.transform(X_all)

model_df["churn_proba_logreg"] = log_reg.predict_proba(X_all_scaled)[:, 1]
model_df["churn_proba_rf"] = rf.predict_proba(X_all)[:, 1]

scored_users = model_df[["user_id", "churn", "churn_proba_logreg", "churn_proba_rf"]].copy()
print("Scored users head:")
print(scored_users.head())

Scored users head:
   user_id  churn  churn_proba_logreg  churn_proba_rf
0        1      0            0.265987        0.276249
1        4      0            0.243322        0.206792
2        8      0            0.163847        0.097024
3        9      0            0.213554        0.146770
4       10      1            0.193916        0.321496

In [66]:
user_num = users[["user_id"]].copy()
for col in ["age", "credit_score"]:
    if col in users.columns:
        user_num[col] = pd.to_numeric(users[col], errors="coerce")

In [67]:
model_df = (
    eng_user
        .merge(eng_app, on="user_id", how="left")
        .merge(txn_user, on="user_id", how="left")
        .merge(user_num, on="user_id", how="left")
)

In [68]:
feature_cols = [
    c for c in model_df.columns
    if c not in ["user_id", "churn", "left_for_one_month", "left_for_two_month_plus"]
]

X = model_df[feature_cols].fillna(0)
y = model_df["churn"]

In [69]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\user\appdata\roaming\python\python313\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from scikit-learn) (2.3.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from scikit-learn) (3.6.0)

In [70]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.3,
    random_state=42,
    stratify=y
)

In [71]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(
    n_estimators=300,
    max_depth=None,
    min_samples_split=10,
    min_samples_leaf=5,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train, y_train)

RandomForestClassifier(min_samples_leaf=5, min_samples_split=10,
                       n_estimators=300, n_jobs=-1, random_state=42)

In [72]:
from sklearn.metrics import roc_auc_score, classification_report

y_proba = rf.predict_proba(X_test)[:, 1]
y_pred = rf.predict(X_test)

auc_val = roc_auc_score(y_test, y_proba)
print("Random Forest AUC:", auc_val)

print("Classification report - Random Forest")
print(classification_report(y_test, y_pred))

Random Forest AUC: 0.5871260579915646
Classification report - Random Forest
              precision    recall  f1-score   support

           0       0.81      1.00      0.90      6031
           1       0.50      0.00      0.00      1392

    accuracy                           0.81      7423
   macro avg       0.66      0.50      0.45      7423
weighted avg       0.75      0.81      0.73      7423

In [73]:
importances = pd.Series(rf.feature_importances_, index=feature_cols).sort_values(ascending=False)

print("Top 15 feature importances:")
print(importances.head(15))

Top 15 feature importances:
credit_score          0.193362
age                   0.171047
purchases_partners    0.170576
reward_rate           0.148502
rewards_earned        0.138796
deposits              0.052799
purchases             0.051556
withdrawal            0.022502
ios_user              0.014305
android_user          0.014020
web_user              0.012123
app_web_user          0.008816
app_downloaded        0.001597
dtype: float64

In [80]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# --- ASSUMPTION: The 'scored_users' DataFrame (from Notebook Cell 32) is available ---
# If you are running this code in a fresh session, you must load or recreate the scored_users DataFrame 
# and the engine object using the credentials defined in your notebook (e.g., root:Adex@2003).

# --- Configuration (Based on your notebook) ---
DB_USER = 'root'     
DB_PASSWORD = 'Adex%402003'
DB_HOST = 'localhost'          
DB_PORT = '3306'               
DB_NAME = 'credilink_db'
# We will use the LogReg score as it's easier to interpret coefficients
SCORE_COLUMN = 'churn_proba_logreg' 
TABLE_NAME = 'user_churn_risk_scores' 

DATABASE_URL = f"mysql+mysqlconnector://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# 1. Prepare Data for Upload
# Create a DataFrame containing the unique user ID and the chosen risk score
risk_data = scored_users[['user_id', SCORE_COLUMN]].rename(columns={SCORE_COLUMN: 'risk_probability'})

# 2. Add Risk Segment Buckets (Essential for Dashboard Filtering)
risk_data['risk_segment'] = np.select(
    [
        risk_data['risk_probability'] >= 0.70, # High risk threshold (Adjustable)
        risk_data['risk_probability'] >= 0.50  # Medium risk threshold (Adjustable)
    ],
    [
        'High Risk (>70%)',
        'Medium Risk (50-70%)'
    ],
    default='Low Risk (<50%)'
)

# 3. Upload to MySQL
try:
    risk_data.to_sql(
        name=TABLE_NAME, 
        con=engine,
        if_exists='replace',          
        index=False                   
    )
    print(f"\n✅ SUCCESS: Churn Risk Scores uploaded to MySQL table: {TABLE_NAME}")
    
except Exception as e:
    print(f"❌ ERROR during prediction upload. Ensure mysqlclient is installed and the engine connection is active: {e}")

✅ SUCCESS: Churn Risk Scores uploaded to MySQL table: user_churn_risk_scores